<div layout:decorator="core" layout:fragment="content">
	<div id="content-wrapper">
		<div class="table-responsive">
			<form action="/tymy" method="get" >
				Ročník soutěže:
				<select name="rok" size="1"  onchange="if(this.value != 0) { this.form.submit(); }">
					<option value="" th:each="t : ${years}" th:text="${t.year}" th:value="${t.year}" th:selected="${t.year == selected}"></option>
				</select>
				<input type="hidden" th:value="${schoolId}" name="schoolId" />
			</form>
			<a class="btn btn-default" href="/tymy/pridat" role="button" th:if="${canAdd}">Přidat tým</a><br /><br />
			<form action="/tymy" method="post" >
				<input type="hidden" th:value="${teams.size()}" name="pocet" />
				<input type="hidden" th:value="${selected}" name="rok"/>
				<table class="table table-bordered" th:if="${not #lists.isEmpty(teams)}">
					<thead>
						<tr>
							<td>Pořadí</td>
							<td>Vystupující</td>
							<td>Datum narození</td>
							<td>Třída</td>
							<td>Název pokusu</td>
							<td>Požadované pomůcky a chemikálie</td>
							<td>Zajistit oběd</td>
							<td></td>
						</tr>
					</thead>
					<tbody>


							<tr th:each="team : ${teams}">
								<td>
									<input type="text" th:value="${team.getEntryOrder()}" th:name="${'tm' + team.getId()}" />
								</td>
								<td>
									<span th:text="${team.participant1.getName()}"></span><br />
									<span th:text="${team.participant2.getName()}"></span>
								</td>
								<td>
									<span th:text="${team.participant1.getBirthDate()}"></span><br />
									<span th:text="${team.participant2.getBirthDate()}"></span>
								</td>
								<td>
									<span th:text="${team.participant1.getClassName()}"></span><br />
									<span th:text="${team.participant2.getClassName()}"></span>
								</td>
								<td th:text="${team.getExperiment()}"></td>
								<td th:text="${team.getRequirments()}"></td>
								<td>
									<span th:if="${team.isLunch()}">Ano</span>
									<span th:if="${!team.isLunch()}">Ne</span>
								</td>
								<td><a th:href="${'/tymy/smazat?id=' + team.getId()}" class="btn btn-danger">Smazat</a> </td>
							</tr>


					</tbody>
				</table>
				<input type="submit" class="btn btn-default" value="Upravit pořadí" th:if="${canAdd}"/><br /><br />
			</form>
			<a th:href="${'/tymy/tisk?rok=' + selected}" class="btn btn-default" >Tisk výsledkové listiny</a>
		</div>
	</div>

</div>