<div layout:decorator="core" layout:fragment="content">
	<div id="content-wrapper">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td rowspan="2">Vystupující</td>
						<td rowspan="2">Název pokusu</td>
						<td colspan="3">Hodnocení</td>
						<td rowspan="2">Celkem</td>
					</tr>
					<tr>
						<td>Správnost výkladu</td>
						<td>Zručnost</td>
						<td>Poutavost</td>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>

</div>