<div layout:decorator="core" layout:fragment="content">
	<div id="content-wrapper">
		<div class="table-responsive">
			<a class="btn btn-default" href="/admin/uzivatele" role="button">Seznam uživatelů</a>
			<a class="btn btn-default" href="" role="button">Rozhodčí</a>
			<a class="btn btn-default" href="" role="button">Zahájit hodnocení</a>
			<a class="btn btn-default" href="/admin/tymy" role="button">Seznam soutěžících</a>
			<a class="btn btn-default" href="/admin/seznam" role="button">Stáhnout soutězící</a>
		</div>
		<div>
			<h2>Nastavení</h2>
			<form method="post" action="/admin">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="teamEdit" value="checked" th:checked="${settings.isTeamsEdit()}" /> Zapnout úpravy týmů
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="refereeEnabled" value="checked" th:checked="${settings.isRefereeEnabled()}" /> Zapnout hodnocení
					</label>
				</div>
				<button type="submit" class="btn btn-default">Uložit</button>
			</form>
		</div>
	</div>

</div>